<!DOCTYPE html>
<html>
<head>
    <title>Study Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="text-align:center; font-family:Arial; background-color:#f2f2f2;">

    <h1>📚 My Study Planner</h1>

    <p>Welcome to your personal study planning website!</p>

    <a href="/login">
    <button>Login</button>
</a>

<p>Don't have an account? <a href="/register">Register</a></p>

    <button onclick="alert('Start Studying 🔥')">
        Start Now
    </button>

</body>
</html>